
#header{
    background-color: #3f77cc;
    margin:0;
    height:120px;
    position:relative;
}
#banner{
    width:30%;
    float:left;
}
#logo{
    float:left;
    padding:20px;
}
#logo img{
    width:75px;
    height:75px;
}
#title{
    color:white;
    text-align: center;
    font-family: Montserrat;
    font-size: 6em;
    margin:0;
}
#subtitle{
    color:white;
    text-align: center;
    font-family: Montserrat;
    font-size: 4em;
    margin:0;
}
#login{
    width:30%;
    height:100%;
    float:right;
    position:relative;
}
#login div{
    float:right;
    margin : 30px;
    color:white;
    text-align: center;
    font-family: Montserrat;
    font-size: 2em;
}

#container{
    background-color: #5a9fd5;
    margin:0;
    position:absolute;
    top: 120px;
    bottom:0;
    width:100%;
}

#sidePane{
    margin:0px;
    padding:10px;
    height:100%;
}
#chat{
    background-color: #ffbb46;
    padding:10px;
    height:60%;
    width:100%;
    border: solid 3px;
    border-color: white;
    border-radius:20px;
}
#new_message{
    width:100%;
    padding:2px;
}
#main{
    margin:0;
    height:100%;
    padding:50px;
}
#calendar{
    background-color: #ffffff;
    border-radius:5px;
}
.style-5 input[type="text"] {
    padding: 10px;
    border: solid 1px #fff;
    box-shadow: inset 1px 1px 2px 0 #707070;
    transition: box-shadow 0.3s;
}
.style-5 input[type="text"]:focus,
.style-5 input[type="text"].focus {
    box-shadow: inset 1px 1px 2px 0 #c9c9c9;
}