html{
    max-width: none;
    background-color: #3f77cc;
}
#header{
    background-color: #3f77cc;
    margin:0;
    height:120px;
    min-width: 100%;
    position:relative;
}
#banner{
    width:30%;
    float:left;
}
#logo{
    float:left;
    padding:20px;
}
#logo img{
    width:75px;
    height:75px;
}
#title{
    color:white;
    text-align: center;
    font-family: Pacifico;
    font-size: 6em;
    margin:0;
}
#subtitle h3{
    color:white;
    text-align: center;
    font-family: Montserrat;
    font-size: small;
    margin:20px 0 0 0;
}
#login{
    width:30%;
    height:100%;
    float:right;
    position:relative;
}
#login div{
    float:right;
    margin : 10px;
    color:white;
    text-align: center;
    font-family: Montserrat;
    font-size: 2em;
    position: relative;
}
#PP{
    width:75px;
    height:75px;
    border-radius:37px;
    overflow: hidden;
    margin:5px;
    float:left;
}
#fbName{
    margin-top:30px;
    vertical-align:middle;
    float:right;
}

#container{
    background-color: #5a9fd5;
    margin:0;
    position:absolute;
    top: 120px;
    min-height:100%;
    min-width:100%;
    max-width:100%;
}

#sidePane{
    margin:0px;
    padding:10px;
    max-width: 330px;
    height:100%;
}
.chatTitle{
    color:white;
    text-align: center;
    margin:0;
    font-family: Pacifico;

}
.chatButton{
    margin:7px;
}
#chat{
    min-height: 700px;
    max-height:700px;
    background-color: #ffbb46;
    padding-top:10px;
    margin-top:5px;
    overflow: hidden;
    overflow-scrolling: auto;
    width:100%;
    border: solid 3px;
    border-color: white;
    border-radius:20px;
    position: relative;
}
#messages{
    position: absolute;
    bottom: 0px;
    width:100%
}
.mess{
    width:100%;
    position:relative;
}
.messContent{
    width:100%;
    padding:0 !important;
    margin:0;
}
.messHeader{
    width:100%;
    padding:0 !important;
    margin:0;
}
.messUser{
    float:left;
}
.timestamp{
    padding-top:3px;
    float:right;
    font-size: xx-small;
    color: rgb(54, 64, 84);
    margin-right:5px;
}
#new_message{
    width:100%;
    padding:2px;
    height:50px;
}
#main{
    margin:0;
    height:100%;
    position: relative;
}
#calendarContainer{
    float:left;
    max-width: 100%;
    overflow-x: auto;
    background-color: #ffffff;
    border-radius:5px;
}
#dates{
    max-width:180px;
}
#calendar{
    max-width: 100%;
    max-height: 90%;
    overflow-y: auto;
}
.colName,
.colExam{
    text-align: center;
    width:150px;
    min-width: 150px;
    height:65px;
    overflow: hidden;
}
.trow{
    height:65px;
    overflow: hidden;
}
.examInput{
    border: none;
    background: #ffbb46;
    width:80%;
    text-align: center;
}
.rounded {
    background-color: #ffbb46;
    text-align: center;
    display:inline-block;
    /*background:  url(rounded.gif) no-repeat center;*/
    border-radius: 20px;
    border: solid 3px;
    border-color:black;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 8px;
    margin:auto;
}
.rounded img{
    float:left;
    width:20%;
}
#chat::-webkit-scrollbar {
    width: 1em;
}

#chat::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#chat::-webkit-scrollbar-thumb {
    background-color: #a9a9a9;
    outline: 1px solid #d89449;
}

.sunday{
    background-color: rgba(255, 158, 1, 0.08);
}

.daypassed{
    background-color: rgba(0, 0, 0, 0.11);
}

.myrow{
    background-color: #ffbb46;
}

div.bubble {
    background: white;
    display: inline-block;
    border: 1px solid #aaa;
    border-radius: 6px;
    color: black;
    box-shadow: 2px 2px 8px #ddd;
    line-height: 130%;
    font-size: 13px;
}

div.bubble.you {
    padding: 5px 10px;
    margin: 5px 10px;
}
div.bubble.you:before{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-left: 1px solid #aaa;
    border-left-color: inherit;
    border-top: 1px solid #aaa;
    border-top-color: inherit;
    background-color: inherit;
    margin: 1px 0 0 -15px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

div.bubble.me {
    text-align: right;
    float: right;
    padding: 10px 5px;
    margin: 10px 5px;
}
div.bubble.me:before{
    content: "";
    position: absolute;
    right: 0;
    width: 8px;
    height: 8px;
    border-right: 1px solid #aaa;
    border-right-color: inherit;
    border-bottom: 1px solid #aaa;
    border-bottom-color: inherit;
    background-color: inherit;
    margin: 0 1px 0 -15px;
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}